.mainDivForUsers {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
  }
  
.insideDivForSearchInAllUsers {
      margin: auto;
      padding: 20px;
      width: 80%;
}
  
.insideDivForSortInAllUsers{
      margin: auto;
      padding: 20px;
      width: 65%;
}
  
.insideDivWithAllUsers{
    margin: auto;
    padding: 5px;
    width: 77%;
}

.tableWithUsers{
    margin: 10px;
    border-style: inset;
    padding: 10px;
}

.redButton{
    background-color: red;
}