.mainDivForUsers {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
  }
  
.insideDivWithAllUsers{
    margin: auto;
    padding: 5px;
    width: 80%;
}

.tableWithUsers{
    margin: 10px;
    border-style: inset;
    padding: 10px;
}

.tableWithUsers tr:nth-child(even) {
    background-color: lightgray;
}

.tableWithUsers td {
    width: 5%;
}

.redButton{
    background-color: red;
}