.mainDivForOrders {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.divForTableInOrders{
    margin: auto;
    width: 70%;
    padding: 5px;
}

.divForTableInOrders table {
    border-collapse: collapse;
}

.divForTableInOrders table tr:nth-child(even) {
    background-color: lightgray;
}
